.structure {
  width: 100%;
  border:0px none;
  margin:0;
}

.structure td {
  max-width: 1360px;
  border:0px none;
}

body table.welcome {
  border-top:3px solid #abbfcc;
  border-bottom:3px solid #abbfcc;
  border:3px solid #abbfcc;
}

.welcome td {
  background:#ffe url(../img/river.jpg) no-repeat left top;
}

.welcome h1, 
.welcome h3 {
  color:#fff;
  text-shadow: 0 1px 0 rgba(5, 5, 5, 0.7);
}

.welcome a { 
  color:#fff;
}

.welcome h1 {
  margin:60px 0px 0px 20px;
}

.welcome h3 {
  margin-left:20px;
  margin-bottom:15px;
}

.createapage {
  text-align:center;
}

.createapage td {
  padding:12px 0px;
  border:1px solid #ddd;
  border-width:0px 0px;
}

.createapage p {
  margin-top:-10px;
  font-size:14px;
}

.createapage-prompt {
  font-size:20px;
  line-height:2em;
  
}

.biglinks {
  margin-bottom:20px;
}

.biglinks td {
  color:#ffe;
  background: #5d839a;
  padding:15px 0px;
  text-align:center;
}

.biglinks {
  padding:1px;
  border-top:2px solid #abbfcc;
  border-bottom:2px solid #abbfcc;
}

.biglinks a {
  margin:0px 5px 0px 20px;
  font-size:20px;
  color:#ffe;
}

.dsc td, .about td {
  padding-bottom:25px;
}

.dsc, .about {
  margin-bottom:25px;
  border-bottom:1px solid #abbfcc;
  
}

